absl-py
beautifulsoup4
cachetools
certifi
charset-normalizer
contourpy
cycler
Cython
dataclasses
easydict
einops
filelock
fonttools
fsspec
future
# gdown
# google-api-core
# google-auth
# google-auth-oauthlib
# google-cloud
# google-cloud-core
# google-cloud-storage
# google-crc32c
# google-resumable-media
# googleapis-common-protos
grpcio
idna
imageio
importlib-metadata
importlib-resources
Jinja2
json-tricks
kiwisolver
lazy-loader
Markdown
MarkupSafe
matplotlib
mpmath
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
opencv-python
packaging
pandas
pillow
protobuf
pyasn1
pyasn1-modules
pycocotools
pyparsing
PySocks
python-dateutil
pytz
PyWavelets
PyYAML
requests
requests-oauthlib
rsa
scikit-image
scipy
shapely
six
soupsieve
sympy
tensorboard
tensorboard-data-server
tensorboardX
tifffile
timm
torch
torchvision
torchaudio
tqdm
# triton
typing-extensions
tzdata
ultralytics
urllib3
werkzeug
yacs
zipp
